{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="authentication-form">
    <div class="box">
        
        <ul>
            <li><h1>{{ taskname }}</h1></li>
            
            <li>
                <form method="post">
                    {% csrf_token %}
                    {{ task_details_form.as_p }}
                    <button type="submit">Add Details</button>
                </form>
            </li>
            
        </ul>
    </div>
</div>
{% endblock %}
