{% extends 'home.html' %} 
{% load static %} 
{% block content %}
    <div class="authentication-form">
        <div class="box">

            <ul>
                <li>
                    <h2>Edit Task Title</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ title_form.as_p }}
                        <button type="submit">Save Changes</button>
                    </form>
                </li>
            </ul>
            
        </div>
    </div>
{% endblock %}
