{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="authentication-form ">
    <div class="box ">    
        

        <ul>
            <li><h1>Welcome {{username}}</h1></li>
            <li><button type="button" class="btn btn-success"><a href="{% url 'create' %}">Add Todo List</a></button></li>
            <li style="margin-top: 5%;">
                {% if not task_title %}
                    <h6>No Todo Lists</h6>
                {% else %}
                    <h6>Todo Lists:</h6>
                    {% for titles in task_title %}

                    <p> <a href="{% url 'list_of_tasks' TaskTitle_id=titles.id %}">{{titles}}</a> </p>
                
                    {% endfor %}

                {% endif %}
            </li>
        </ul>
        
    </div>
</div>
{% endblock %}