{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="authentication-form">
    <div class="box">
        
        <ul>
            <li><h1>{{ taskname }}</h1></li>
            
            {% for detail in details %}
                <li>{{ detail.task_description }}</li>
            {% endfor %}
            
            <li><a href="{% url 'add_task_details'  taskname.id %}"><button>add task details</button></a></li>
            
        </ul>
    </div>
</div>
{% endblock %}
