{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="authentication-form">
    <div class="box">
        
        <ul>
            <li><h1>{{ task_title }}</h1></li>
            <li>
                <form method="post" action="{% url 'delete_task' TaskTitle_id=task_title.id %}">
                    {% csrf_token %}
                    <input type="submit" name="delete_task" value="Delete list">
                </form>
            </li>
            <li>
                <form method="post" action="{% url 'list_of_tasks' TaskTitle_id=task_title.id %}">
                    {% csrf_token %}
                    {{ task_form.as_p }}
                    <button type="submit">add task</button>
                </form>
            </li>
            {% for task in tasks %}
            <li>
                <a href="{% url 'task_details' Task_id=task.id %}">{{ task.task_name }}</a>
                
            </li>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}
